<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}} </span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

	<!-- <div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="statusChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="periodChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="catChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-heading">
					<h5>Risk Profiles</h5>
					<div class="panel-tools">
						<a class="btn btn-xs btn-dark-blue btn-squared" ng-click="downloadExcel()"><i class="ti-download"></i> Download</a>
						<a class="btn btn-xs btn-dark-blue btn-squared" ui-sref="app.risk.profile.form">Create New Risk Profile</a>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
							<select id="perpage" ng-model="Grid1.PerPage" ng-options="op as op for op in OpList" class="form-control input-sm"> </select>
						</div>
						<div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
							<div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
								<span class="input-icon">
									<input type="text" ng-model="Grid1.Filter" placeholder="Search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-responsive col-xs-12">
							<thead>
								<tr class="sortable-headers">
									<th><input type="checkbox" ng-model="all_check" ng-click="selectAll()"></th>
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='riskDescription' }" ng-click="Grid1.SortMe('riskDescription')"><i class="fa {{Grid1.GetIco('riskDesc')}}"></i> Risk Description </a></th>
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='riskID' }" ng-click="Grid1.SortMe('riskID')"><i class="fa {{Grid1.GetIco('riskID')}}"></i> ID </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='riskType' }" ng-click="Grid1.SortMe('riskType')"><i class="fa {{Grid1.GetIco('riskType')}}"></i> Type </a></th> -->
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='riskCategory' }" ng-click="Grid1.SortMe('riskCatgeory')"><i class="fa {{Grid1.GetIco('riskCateogry')}}"></i> Category </a></th>
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='riskName' }" ng-click="Grid1.SortMe('riskName')"><i class="fa {{Grid1.GetIco('riskName')}}"></i> Name </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='secondaryRiskImpact' }" ng-click="Grid1.SortMe('secondaryRiskImpact')"><i class="fa {{Grid1.GetIco('secondaryRiskImpact')}}"></i> Secondary Risk Impact </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='geographicImpact' }" ng-click="Grid1.SortMe('geographicImpact')"><i class="fa {{Grid1.GetIco('geographicImpact')}}"></i> Region </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='legalEntTier1Impact' }" ng-click="Grid1.SortMe('legalEntTier1Impact')"><i class="fa {{Grid1.GetIco('legalEntTier1Impact')}}"></i> Department </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='potentialImpact' }" ng-click="Grid1.SortMe('potentialImpact')"><i class="fa {{Grid1.GetIco('potentialImpact')}}"></i> Potential Impact </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='inherentImpact' }" ng-click="Grid1.SortMe('inherentImpact')"><i class="fa {{Grid1.GetIco('inherentImpact')}}"></i> Inherent Risk </a></th> -->
									<!-- <th><a ng-class="{'text-azure': Grid1.CurrCol==='inherentLikeliHood' }" ng-click="Grid1.SortMe('inherentLikeliHood')"><i class="fa {{Grid1.GetIco('inherentLikeliHood')}}"></i> Inherent Likeli-hood </a></th> -->
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='inherentRiskRating' }" ng-click="Grid1.SortMe('inherentRiskRating')"><i class="fa {{Grid1.GetIco('inherentRiskRating')}}"></i> Inherent Risk </a></th>
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='residualRisk' }" ng-click="Grid1.SortMe('residualRisk')"><i class="fa {{Grid1.GetIco('residualRisk')}}"></i> Residual Risk </a></th>
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='riskDirection' }" ng-click="Grid1.SortMe('riskDirection')"><i class="fa {{Grid1.GetIco('riskDirection')}}"></i> Risk Direction </a></th>
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='riskAccepted' }" ng-click="Grid1.SortMe('riskAccepted')"><i class="fa {{Grid1.GetIco('riskAccepted')}}"></i> Risk Accepted </a></th>
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='issueOutstanding' }" ng-click="Grid1.SortMe('issueOutstanding')"><i class="fa {{Grid1.GetIco('issueOutstanding')}}"></i> Issue Outstanding </a></th>
									<th><a ng-class="{'text-azure': Grid1.CurrCol==='remeStatus' }" ng-click="Grid1.SortMe('remeStatus')"><i class="fa {{Grid1.GetIco('remeStatus')}}"></i> Remediation Status </a></th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="r in Grid1.Data | orderBy: Grid1.Column:Grid1.IsAsc | filter: Grid1.Filter |  limitTo : Grid1.PerPage : (Grid1.CurrPage -1) * Grid1.PerPage | uniqueIds : 'riskId'">
									<th><input type="checkbox" ng-model="r.checked"></th>
									<td>{{r.riskDescription}}</td>
									<!-- <td>{{r.riskId}}</td> -->
									<!-- <td>{{r.riskType}}</td> -->
									<td>{{r.riskCategory}}</td>
									<!-- <td>{{r.riskName}}</td> -->
									<!-- <td>{{r.secondaryRiskImpact}}</td> -->
									<!-- <td>{{r.geographicImpact}}</td>
									<td>{{r.legalEntTier1Impact}}</td> -->
									<!-- <td>{{r.potentialImpact}}</td> -->
									<!-- <td>{{r.inherentImpact}}</td> -->
									<!-- <td>{{r.inherentLikeliHood}}</td> -->
									<td class="{{'color-' + r.inherentRiskRating}}">{{r.inherentRiskRating}}</td>
									<td class="{{'color-' + r.residualRisk}}">{{r.residualRisk}}</td>
									<td>{{r.riskDirection}}</td>
									<td>{{r.riskAccepted}}</td>
									<td>{{r.issueOutstanding}}</td>
									<td>{{r.remeStatus}}</td>
									<td>
										<a ui-sref="app.risk.profile.update({ id: r.id})" class="btn btn-xs btn-squared btn-dark-azure"><i class="ti-pencil"></i></a>
										<a ng-click="deleteAction(r)" class="btn btn-xs btn-squared btn-red"><i class="ti-trash"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							Showing {{(Grid1.CurrPage -1) * Grid1.PerPage + 1}} to {{ ((Grid1.CurrPage * Grid1.PerPage) >  Grid1.Total) ?  Grid1.Total : (Grid1.CurrPage * Grid1.PerPage); }} of {{Grid1.Total}} entries
						</div>
						<div class="col-xs-12 col-sm-8 pagination-right">
							<ul uib-pagination total-items="Grid1.Total" items-per-page="Grid1.PerPage" ng-model="Grid1.CurrPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>