<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle">{{mainTitle}}</h1>
            <span class="mainDescription">{{mainDesc}}</span>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <form name="Form.TestPlan" ng-submit="submitAction()" role="form">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Test Plan Name </label>
                                    <input type="text" name="testPlanName" ng-model="VM.testPlanName" placeholder="Name"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Control Description </label>
                                    <textarea type="text" name="testPlanDesc" ng-autosize ng-model="VM.testPlanDesc"
                                        placeholder="Description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Department </label>
                                    <select name="department" ng-model="VM.department[0].deptId"
                                        ng-options="d.deptId as d.deptName for d in app.Lookup.Departments"
                                        class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Region </label>
                                    <select name="regionName" ng-model="VM.regionName"
                                        ng-options="op.key as op.val for op in app.Lookup.LIST001" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Test Status </label>
                                    <select name="testStatus" ng-model="VM.controlStatus"
                                        ng-options="op.key as op.val for op in app.Lookup.LIST013" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Test method </label>
                                    <select name="testMethod" ng-model="VM.controlMethod"
                                        ng-options="op.key as op.val for op in app.Lookup.LIST014" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Test Plan Frequency </label>
                                    <select name="controlFrequency" ng-model="VM.controlFrequency"
                                        ng-options="op.key as op.val for op in app.Lookup.LIST012" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Criticality </label>
                                    <select name="criticality" ng-model="VM.controlPriority"
                                        ng-options="op.key as op.val for op in app.Lookup.Severity"
                                        class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Current Due Date </label>
                                    <datepicker date-format="MM-dd-yyyy">
                                        <input type="text" name="testDueDate" ng-model="VM.testDueDate"
                                            placeholder="Test Date" class="form-control">
                                    </datepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Next Due Date </label>
                                    <datepicker date-format="MM-dd-yyyy">
                                        <input type="text" name="nextDueDate" ng-model="VM.nextDueDate"
                                            placeholder="Next Date" class="form-control">
                                    </datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Files to upload </label>
                                    <input type="file" file-model="VM.testplanFileModel" multiple="multiple"
                                        class="form-control" />
                                    <ul class="file-list-group col-xs-12">
                                        <li class="file-list-item" ng-repeat="file in VM.testplanFileModel"> <i
                                                class="fa fa-file"></i>
                                            <a target="_parent"
                                                href="{{app.APIPrefix + 'policies/download/stream/'+file.id + '?token='+app.authToken}}"
                                                download="{{file.fileName}}" ng-if="file.id!=1">
                                                {{file.fileName}}
                                            </a>
                                            <span ng-if="file.id==1">{{file.fileName}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Test Plan File </label>
                                    <input type="text" name="controlRefID" ng-model="VM.testPlanFile"
                                        placeholder="Control Ref ID" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Include Control TestPlans <a ng-click="addControls()"
                                            class="btn btn-link"><i class="fa fa-search"></i></a> </label>
                                    <div class="col-xs-12">
                                        <ul class="multi-select-list-group col-xs-12 padding-left-0">
                                            <li class="list-item-container row" ng-repeat="con in VM.controlDataModel">
                                                <div class="list-item col-xs-12 padding-left-0">
                                                    <span class="col-sm-4"> {{con.controlName}} </span>
                                                    <span class="col-sm-6"> {{con.modifiedOn | date}} </span>
                                                    <span class="col-sm-2">
                                                        <a class="text-right delete"
                                                            ng-click="removeItem('controlDataModel', $index)"> remove
                                                        </a>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="no-result padding-left-0" ng-if="!VM.controlDataModel.length"> <i
                                                    class="fa fa-info-circle"></i> no test plan selected</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>
                                        Include Control Test Data
                                        <a ng-click="addTestData()" class="btn btn-link">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </label>
                                    <div class="col-xs-12">
                                        <ul class="multi-select-list-group col-xs-12 padding-left-0">
                                            <li class="list-item-container row" ng-repeat="con in VM.controlTestData">
                                                <div class="list-item col-xs-12 padding-left-0">
                                                    <span class="col-sm-4"> {{con.description}} </span>
                                                    <span class="col-sm-6"> {{con.modifiedOn | date}} </span>
                                                    <span class="col-sm-2">
                                                        <a class="text-right delete"
                                                            ng-click="removeItem('controlTestData', $index)"> remove
                                                        </a>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="no-result padding-left-0" ng-if="!VM.controlTestData.length">
                                                <i class="fa fa-info-circle"></i> no test plan selected
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hrule4" />
                        <div class="col-xs-12 text-right">
                            <a type="button" ng-click="downloadExcel()" class="btn btn-squared btn-dark-blue"
                                ng-disabled="!VM.controlDataModel.length"><i class="fa fa-download"></i> Download Test
                                Plan
                            </a>
                            <button class="btn btn-squared btn-dark-blue" ng-disabled="Form.TestPlan.$invalid"
                                type="submit"><i class="fa fa-save"></i> Save</button>
                            <!--<button class="btn btn-squared btn-dark-blue" type="reset"><i class="fa fa-refresh"></i> Reset</button>-->
                            <a class="btn btn-squared btn-dark-blue" type="button" ng-click="cancelAction()"><i
                                    class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white no-radius">
                <div class="panel-heading">
                    Controls and Test Data
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-responsive col-xs-12">
                        <thead>
                            <tr class="sortable-headers">
                                <th>Control Name</th>
                                <th>Control Description</th>
                                <th>Control Frequency</th>
                                <th>Control Type</th>
                                <th>Design Effectiveness</th>
                                <th>Operating Effectiveness</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                ng-repeat="x in [].constructor(VM.controlDataModel.length<VM.controlTestData.length?VM.controlTestData.length:VM.controlDataModel.length) track by $index">

                                <td>
                                    <span editable-text="VM.controlDataModel[$index].controlName" e-name="controlName"
                                        e-form="rowform">
                                        {{ VM.controlDataModel[$index].controlName || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="VM.controlDataModel[$index].controlDescription"
                                        e-name="controlDescription" e-form="rowform">
                                        {{ VM.controlDataModel[$index].controlDescription || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="VM.controlDataModel[$index].controlFrequency"
                                        e-name="controlFrequency" e-form="rowform">
                                        {{ VM.controlDataModel[$index].controlFrequency || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="VM.controlDataModel[$index].controlType" e-name="controlType"
                                        e-form="rowform">
                                        {{ VM.controlDataModel[$index].controlType || 'empty' }}
                                    </span>
                                </td>

                                <td>
                                    <span editable-text="VM.controlTestData[$index].design" e-name="design"
                                        e-form="rowform">
                                        {{ VM.controlTestData[$index].design || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="VM.controlTestData[$index].design" e-name="controlTypeLevel1"
                                        e-form="rowform">
                                        {{ VM.controlTestData[$index].controlTypeLevel1 || 'empty' }}
                                    </span>
                                </td>
                                <td style="white-space: nowrap">
                                    <form editable-form name="rowform" onbeforesave="saveTestData($data, $index)"
                                        ng-show="rowform.$visible" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting"
                                            ng-click="rowform.$cancel()" class="btn btn-default">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <a class="btn btn-xs btn-squared btn-dark-azure" ng-click="rowform.$show()">
                                            <i class="ti-pencil"></i>
                                        </a>
                                        <a ng-click="removeTestData($index)" class="btn btn-xs btn-squared btn-red">
                                            <i class="ti-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>