<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle">{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}} </span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<!-- Test Plans to upload -->
		<div class="col-xs-12 col-md-6">
			<label> Test Plans to upload </label>
			<input type="file" file-model="VM.files" class="form-control"  multiple="multiple"/>
			<ul class="file-list-group col-xs-12">
				<li class="file-list-item" ng-repeat="file in VM.files">
					{{file.fileName}}
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-6">
			<a type="button" class="btn btn-md btn-squared btn-dark-blue" ng-click="uploadFile()"><i class="fa fa-times"></i> Upload</a>
		</div>

		<div class="col-md-12">
			<div class="panel panel-white no-radius">
				<!-- List of Uploaded Test Plans -->
				<div class="panel-heading">
					<h5>List of Uploaded Test Plans</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
							<select id="perpage" ng-model="Grid1.PerPage" ng-options="op as op for op in OpList" class="form-control input-sm"> </select>
						</div>
						<div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
							<div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
								<span class="input-icon">
									<input type="text" ng-model="Grid.Filter" placeholder="Search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-responsive col-xs-12">
							<thead>
							<tr class="sortable-headers">
								<!-- <th><input type="checkbox"></th> -->
								<th><a ng-class="{'text-azure': CurrCol==='filename' }" ng-click="sortMe('filename')"><i class="fa {{resSort('filename')}}"></i> Filename</a></th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="p in Grid1.Data | orderBy: Grid1.Column:Grid1.IsAsc | filter: Grid1.Filter |  limitTo : Grid1.PerPage : (Grid1.CurrPage -1) * Grid1.PerPage">
								<!-- <th><input type="checkbox"></th> -->
								</a>
								<td>
									<a target="_parent" href="{{app.APIPrefix + 'pentest/download/stream/'+p.id + '?token='+app.authToken}}" download="{{p.filename}}">{{p.filename}}</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							Showing {{(Grid1.CurrPage -1) * Grid1.PerPage + 1}} to {{ ((Grid1.CurrPage * Grid1.PerPage) >  Grid1.Total) ?  Grid1.Total : (Grid1.CurrPage * Grid1.PerPage); }} of {{Grid1.Total}} entries
						</div>
						<div class="col-xs-12 col-sm-8 pagination-right">
							<ul uib-pagination total-items="Grid1.Total" items-per-page="Grid1.PerPage" ng-model="Grid1.CurrPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="panel panel-white no-radius">
				<!-- List of Vulnerabilities -->
				<div class="panel-heading">
					<h5>List of Vulnerabilities</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
							<select id="perpage" ng-model="Grid2.PerPage" ng-options="op as op for op in OpList2" class="form-control input-sm"> </select>
						</div>
						<div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
							<div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
								<span class="input-icon">
									<input type="text" ng-model="Grid2.Filter" placeholder="Search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
							</div>
						</div>
						<div class="panel-tools">
							<a class="btn btn-xs btn-dark-blue btn-squared" ui-sref="app.measure.pentest.form"><i class="ti-plus"></i> Create New Penetration Test</a>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-responsive col-xs-12">
							<thead>
							<tr class="sortable-headers">
								<!-- <th><input type="checkbox"></th> -->
								<th><a ng-class="{'text-azure': CurrCol==='name' }" ng-click="sortMe('name')"><i class="fa {{resSort('name')}}"></i> Name</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='description' }" ng-click="sortMe('description')"><i class="fa {{resSort('description')}}"></i> Description</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='department' }" ng-click="sortMe('department')"><i class="fa {{resSort('department')}}"></i> Department </a></th>
								<th><a ng-class="{'text-azure': CurrCol==='region' }" ng-click="sortMe('region')"><i class="fa {{resSort('region')}}"></i> Region </a></th>
								<th><a ng-class="{'text-azure': CurrCol==='owner' }" ng-click="sortMe('owner')"><i class="fa {{resSort('owner')}}"></i> Owner </a></th>
								<th><a ng-class="{'text-azure': CurrCol==='testDate' }" ng-click="sortMe('testDate')"><i class="fa {{resSort('testDate')}}"></i> Test Date</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='startDate' }" ng-click="sortMe('startDate')"><i class="fa {{resSort('startDate')}}"></i> Start Date</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='endDate' }" ng-click="sortMe('endDate')"><i class="fa {{resSort('endDate')}}"></i> End Date</a></th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="p in Grid2.Data | orderBy: Grid2.Column:Grid2.IsAsc | filter: Grid2.Filter |  limitTo : Grid2.PerPage : (Grid2.CurrPage -1) * Grid2.PerPage">
								<!-- <th><input type="checkbox"></th> -->
								<td>{{p.name}}</td>
								<td>{{p.description}}</td>
								<td>{{p.department}}</td>
								<td>{{p.region}}</td>
								<td>{{p.owner}}</td>
								<td>{{p.testDtStr}}</td>
								<td>{{p.startDtStr}}</td>
								<td>{{p.endDtStr}}</td>
								<td>
									<a ui-sref="app.measure.pentest.update({id: p.id})" class="btn btn-xs btn-squared btn-azure"><i class="ti-pencil"></i></a>
									<a ng-click="deletePenTest(p)" class="btn btn-xs btn-squared btn-red"><i class="ti-trash"></i></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							Showing {{(Grid2.CurrPage -1) * Grid2.PerPage + 1}} to {{ ((Grid2.CurrPage * Grid2.PerPage) >  Grid2.Total) ?  Grid2.Total : (Grid2.CurrPage * Grid2.PerPage); }} of {{Grid2.Total}} entries
						</div>
						<div class="col-xs-12 col-sm-8 pagination-right">
							<ul uib-pagination total-items="Grid2.Total" items-per-page="Grid2.PerPage" ng-model="Grid2.CurrPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
