<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle">{{vm.mainTitle}}</h1>
            <span class="mainDescription">{{vm.mainDesc}} </span>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
    
    <div class="row">
    	<div class="col-md-12">
	        <div class="panel panel-transparent">
	            <div class="panel-body">
	            	<form name="Form.DataMapping" ng-submit="submitAction()" role="form" ng-init="IsSubmitted=false">
                        <div class="row" ng-if="IsSubmitted && Form.Policy.$invalid">
                            <div class="col-xs-12 error text-red">
                                <p ng-if="Form.DataMapping.name.$invalid || Form.DataMapping.name.$dirty"><i class="fa fa-times"></i> Name invalid or empty </p>
                                <p ng-if="Form.DataMapping.description.$invalid || Form.DataMapping.description.$dirty"><i class="fa fa-times"></i> Description invalid or empty </p>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Data Model Details</legend>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group"  ng-class="{'has-error': Form.DataMapping.name.$dirty && Form.DataMapping.name.$invalid }">
                                        <label> Name </label>
                                        <input type="text" name="name" ng-model="VM.name" placeholder="Name" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': Form.DataMapping.description.$dirty && Form.DataMapping.description.$invalid }">
                                        <label> Description </label>
                                        <textarea type="text" name="description" ng-autosize ng-model="VM.description" placeholder="Description" class="form-control" required></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': Form.DataMapping.createdBy.$dirty && Form.DataMapping.createdBy.$invalid }">
                                        <label> Data Model Owner </label>
                                        <select name="createdBy" ng-model="VM.createdBy"
                                                ng-options="u.name as u.name for u in app.Lookup.Users" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': Form.DataMapping.createdOn.$dirty && Form.DataMapping.createdOn.$invalid }">
                                        <label> Date </label>
                                        <datepicker date-format="MM-dd-yyyy" date-set="{{createdOn}}">
                                            <input type="text" name="createdOn" ng-model="VM.createdOn" placeholder="Date" class="form-control" required>
                                        </datepicker>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': Form.DataMapping.fileModel.$dirty && Form.DataMapping.fileModel.$invalid }">
                                        <label> Files to upload </label>
										<input type="file" name="fileModel" file-model="VM.fileModel" multiple="multiple" class="form-control"/>
										<ul class="file-list-group col-xs-12">
											<li class="file-list-item" ng-repeat="file in VM.fileModel"> <i class="fa fa-file"></i>
												<a target="_parent" href="{{app.APIPrefix + 'datainventory/download/stream/'+file.id + '?token='+app.authToken}}" download="{{file.fileName}}" ng-if="file.id!=1">
													{{file.fileName}}
												</a>
												<span ng-if="file.id==1">{{file.fileName}}</span>
											</li>
										</ul>
                                    </div>
                                </div>

                                <hr class="hrule4" />
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-squared btn-dark-blue"><i class="fa fa-save"></i> Save</button>
                                    <a type="button" class="btn btn-squared btn-dark-blue" ng-click="cancelAction()"><i class="fa fa-times"></i>  Cancel</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
	            </div>
	        </div>
		</div>
    </div>
</div>